 body{
    background-color: rgb(39, 38, 38);
    color: gainsboro;
}
.border-white{
    border: 1px solid whitesmoke;
}

.CuadroListas{
    height: 500px;
    width: 100%;
    border: 1px solid white;
    font-size: 12px;
    overflow: auto;
}